<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {% block head %}{% endblock %}
    <title>Ovation</title>
</head>
<body>
    <div class="topnav">
        <a href="{{ url_for('routes.landing') }}">About</a>
        <a href="{{ url_for('routes.profile') }}">Profile</a>
        <a href="{{ url_for('routes.login') }}">Login</a>
    </div>
    <br>
    <br>
    {% block content %}{% endblock %}
    <br>
    <br>
    <br>
    <div class="footer">
        <a href="github.com">
            <img class="LinkedIn" src="{{url_for('static', filename='images/github-mark-white.png')}}" alt="LinkedIn"/>
        </a>
        <p class="pFooter"> <- Silas</p>
        <p class="pFooter"> Harry -> </p>
        <a href="github.com">
            <img class="LinkedIn" src="{{url_for('static', filename='images/github-mark-white.png')}}" alt="LinkedIn"/>
        </a>
    </footer>
</body>
</html>