/*
CSS HEX
#1c1c1c - Light Black - Background 
#ef233cff - Crimson  - Accent
#fffffc - White - Text
#282828  - Grey - Onhover
*/

li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.textbox{
  color: #edf2f4ff; 
  text-align: center;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #ef233c;
  border-width: 2px;
}

.textbox:hover {
  background-color: #282828;
}


body {
  background-color: #1c1c1cff;
}