/*
CSS HEX
#1c1c1c - Light Black - Background 
#ef233cff - Crimson  - Accent
#fffffc - White - Text
#282828  - Grey - Onhover
*/

body {
  background-color: #1c1c1cff;
  color: #fffffc; 
  font-family: 'JetBrains Mono', monospace;
}

/* Styles for nav bar */
.topnav {
background-color: #1c1c1cff;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
border-bottom: 1px solid #ef233cff;
float: right;
color: #fffffc;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #282828;
}

/* WIP Add a color to the active/current link */
.topnav a.active {
background-color: #ef233cff;
color: #1c1c1cff;
}

.alert {
color: #ef233cff;
background-color: #282828;
width: fit-content;
padding: 10px;
border-radius: 25px;
}

/* Style for landing section */
section{
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 10vh;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
  transform: translateX(-100%);
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.logos {
  display: flex;
}

.logo{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.logo img {
  width: 100%;
  height: auto;
}
.logo:nth-child(1){
  transition-delay: 100ms;
}

.logo:nth-child(2){
  transition-delay: 300ms;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Styles for input forms */
.input-form{
  text-align: center;
}

.input-field:focus {
  outline-color: #ef233cff;
  border: 1px solid #1c1c1c;
}

.input-field {
  font-family: 'JetBrains Mono', monospace;
  width: 50%;
  padding: 10px 10px;
  margin: px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ef233cff;
  background-color : #2d2d2d;
  color: #fffffc;
  outline-color: #1c1c1c;
  outline-width: 1px;
  outline-style: solid;
}

.input-button {
  font-family: 'JetBrains Mono', monospace;
  width: 30%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: #ef233cff;
  color: #fffffc;
  border-radius: 30px;
}

.input-button:hover {
    background-color: #cc0f26;
}

/* Styles for landing button */
.getstarted-button {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  width: 30%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: #ef233cff;
  color: #fffffc;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 15px;
}

.getstarted-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.getstarted-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.getstarted-button:hover span {
  padding-right: 25px;
}

.getstarted-button:hover span:after {
  opacity: 1;
  right: 0;
}